---
import { Image } from "astro:assets";
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../i18n/utils";

interface Props {
  slug: string;
  title: string;
  body: string;
  image: ImageMetadata;
  position?: "left" | "right";
}

const { slug, title, body, image, position = "left" } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<div class:list={["my-32", "grid", "md:grid-cols-2"]}>
  <div
    class:list={[
      {
        "md:order-2": position === "right",
      },
    ]}
  >
    <Image
      src={image}
      alt={`Services for ${title}`}
      class:list={[
        "max-h-72",
        "object-contain",
        "mix-blend-multiply",
        "dark:invert",
        "dark:hue-rotate-180",
        "dark:mix-blend-exclusion",
        {
          "md:object-left": position === "right",
          "md:object-right": position === "left",
        },
      ]}
    />
  </div>
  <div
    class:list={[
      "place-items-center",
      {
        "md:place-items-start": position === "left",
        "md:place-items-end": position === "right",
      },
    ]}
  >
    <div
      class:list={[
        "md:max-w-md",
        "max-w-sm",
        {
          "md:text-right": position === "right",
          "md:mr-10": position === "right",
          "md:ml-10": position === "left",
        },
      ]}
    >
      <h3
        class:list={["text-2xl", "font-medium", "mt-4", "[text-wrap:balance]"]}
      >
        {title}
      </h3>
      <p
        class:list={[
          "mt-4",
          "text-slate-600",
          "[text-wrap:balance]",
          "dark:text-slate-300",
        ]}
      >
        {body}
      </p>
      <div
        class:list={[
          "mt-6",
          "flex",
          "items-center",
          "gap-4",
          {
            "md:justify-end": position === "right",
          },
        ]}
      >
        <a
          href={slug}
          class:list={[
            "focus-visible:shadow-outline-indigo",
            "group",
            "inline-flex",
            "items-center",
            "gap-px",
            "rounded-full",
            "bg-indigo-600",
            "px-4",
            "py-2",
            "text-center",
            "text-sm",
            "text-white",
            "transition",
            "hover:bg-indigo-800",
          ]}
        >
          <span>{t("global.learnMore")}</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class:list={[
              "mt-px",
              "h-4",
              "w-4",
              "transition-transform",
              "group-hover:translate-x-1",
            ]}
          >
            <path
              fill-rule="evenodd"
              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
        <a
          href={translatePath('contact')}
          class:list={[
            "rounded-full",
            "px-2",
            "py-1",
            "text-sm",
            "text-slate-600",
            "transition",
            "hover:text-indigo-600",
            "dark:text-slate-200",
            "dark:hover:text-indigo-400",
          ]}
        >
          {t("global.contactMe")}
        </a>
      </div>
    </div>
  </div>
</div>
